<title>Automatic IIUM Schedule Formatter!</title>
<head>
<script id='defaultstyle' type='text/css'>
/* "body"="Body" */
/* "#title"="Title" */
/* "#scheduletable"="Schedule Table" */
/* "#scheduletable .timecell"="Time table header" */
/* "#scheduletable .firstcolumn"="First Column" */
/* "#scheduletable tr th"="Table Header" */
/* "#scheduletable tr td.nonempty"="Non empty Table Cell" */
/* "#scheduletable tr td.nonempty .code"="Code" */
/* "#scheduletable tr td.nonempty .venue"="Venue" */
/* "#scheduletable tr td.empty"="Empty Table Cell" */
/* "#scheduletable tr td"="Table Data" */


  .preview_container{
	outline:black dotted 1px;
  }

  table{
    border-collapse:collapse;
    border:2px solid black;
  }
  tr th{
    border-bottom:2px solid black;
  }
  tr td{
    border-bottom:1px solid black;
  }
</script>
<link type="text/css" href="/static/global.css" rel="stylesheet"/>
<style>
  
  #previewiframe,#topdiv,#configiframe,#mainlayout{
    width:100%;
  }
  
  #mainlayout{
    margin:0;
    padding:0;
  }
  
  #mainlayout td,#mainlayout tr{
    margin:0;
    padding:0;
  }
  
  #topdiv{
    height:50px;
  }
  
  #configiframe,#configiframecontainer{
    height:300px;
  }
  
  #previewiframe,#previewiframecontainer{
    height:100%;
  }
  
  #tabmenulist{
    list-style-type:none;
    display:inline;
  }
  
  #tabmenulist li{
    float:left;
    margin-left:2em;
  }
  
</style>
</head>
<body>
<table id='mainlayout' style='height:100%;'>
<tr><td id='topdiv'>
<div>
  <h3>Modify your Schedule</h3>
  <ul id='tabmenulist'>
    <li><a href='javascript:themegallery();'>Choose a theme</a></li>
    <li><a href='javascript:stylercsspage();'>Change CSS using Styler</a></li>
    <li><a href='javascript:manualcsspage();' >Change CSS manually</a></li>
    <li><a href='javascript:changetemplatepage();' >(Advance) Change Template</a></li>
    <li><a href='javascript:saveStyle();' >Save</a></li>
  </ul>
</div>
</td></tr>
<tr><td id='configiframecontainer'>
<iframe id='configiframe' src='about:blank'>
</iframe>
</td></tr>
<tr><td id='previewiframecontainer'>
<iframe id='previewiframe' src="/static/dummy.html">
</iframe>
</td></tr>
</table>
</body>
<script type='text/javascript' src='/static/js/jquery-1.7.1.min.js' ></script>

<script type='text/javascript' src='/static/ejs_production.js' ></script>
<script id="scheduletemplate" type="text/html">
  <head>
  <style id='thestyle'></style>
  </head>
  <body>
  <div id='maindiv'>
  <h2 id="title"> <%= studentname %> SCHEDULE</h2>
  <table id='scheduletable'>
    <tr>
      <th class='day firstcolumn'>Day</th>
      <th class='timecell'>8 am</th>
      <th class='timecell'>9 am</th>
      <th class='timecell'>10 am</th>
      <th class='timecell'>11 am</th>
      <th class='timecell'>12 am</th>
      <th class='timecell'>1 pm</th>
      <th class='timecell'>2 pm</th>
      <th class='timecell'>3 pm</th>
      <th class='timecell'>4 pm</th>
      <th class='timecell'>5 pm</th>
    </tr>
    <% for(key in schedule) {%>
    <tr>
      <td class='day firstcolumn'>
	<%= key %>
      </td>
      <% for(var i=0;i<schedule[key].length;i=i+1){ %>
	<% if(schedule[key][i].course){ %>
	  <td class='nonempty' colspan='<%= schedule[key][i].duration %>'>
	      <div class='code'>
	      <%= schedule[key][i].course.code %>
	      </div>
	      <div class='venue'>
	      <%= schedule[key][i].venue %>
	      </div>
	  </td>
	<% }else if(schedule[key][i]=="none"){ %>
	<% }else{ %>
	  <td class='empty'>
	      <%= schedule[key][i]%>
	  </td>
	<% } %>
      <% } %>
    </tr>
    <% } %>
  </table>
  <h3>Subject Name</h3>
  <table>
    <tr>
      <th>Code</th>
      <th>Section</th>
      <th>Credit Hour</th>
      <th>Name</th>
    </tr>
    <% for(var i=0;i<courselist.length;i=i+1){ %>
      <tr>
      <td>
      <%= courselist[i].code %>
      </td>
      <td>
      <%= courselist[i].section %>
      </td>
      <td>
      <%= courselist[i].credithour %>
      </td>
      <td>
      <%= courselist[i].title %>
      </td>
      </tr>
    <% }%>
  </table>
  </div>
  </body>
</script>
<script type='text/javascript'>
  
  var currenttemplate;
  
  function postpage(){
  }
  
  function getcurrentstyle(){
      var theiframe=$('#previewiframe');
      return theiframe.contents().find("#thestyle").html();
  }
  
  function getcurrenttemplate(){
      if(currenttemplate!=undefined){
	return currenttemplate;
      }
      return $("#scheduletemplate").html();
  }
  
  function rerender(style){
      if(style==undefined){
	style=getcurrentstyle();
      }
      var thetext=(new EJS({text:currenttemplate})).render(thedata);
    
      var theiframe=$('#previewiframe')
      
      theiframe.contents().find('html').html(thetext);
      theiframe.contents().find("#thestyle").html(style);
  }
  
  function changetemplatepage(){
    postpage();
    $('#configiframe').bind('load',function(){
       document.getElementById('configiframe').contentWindow.changetemplate(getcurrenttemplate());
       $('#configiframe').unbind("load");
       postpage=function(){
       }
    });
    $("#configiframe").attr("src","/static/templateeditor.html");
  }
  
  function themegallery(){
    postpage();
    $('#configiframe').bind('load',function(){
       $('#configiframe').unbind("load");
       postpage=function(){
       }
    });
    $("#configiframe").attr("src","/themegallery");
  }
  
  function manualcsspage(){
    postpage();
    $('#configiframe').bind('load',function(){
       document.getElementById('configiframe').contentWindow.changeStyle(getcurrentstyle());
       $('#configiframe').unbind("load");
       postpage=function(){
       }
    });
    $("#configiframe").attr("src","/static/csseditor.html");
  }
  
  function stylercsspage(){
    postpage();
    $('#configiframe').bind('load',function(){
      document.getElementById('configiframe').contentWindow.parseCSS(getcurrentstyle(),$('#previewiframe'));
      $('#configiframe').unbind("load");
      postpage=function(){
	document.getElementById('configiframe').contentWindow.savestyle();
      }
    });
    $("#configiframe").attr("src","/static/styler.html");
  }
  
  function applyStyle(thestyle){
    rerender(thestyle);
  }
  
  function applyTemplate(template){
    currenttemplate=template;
    rerender();
  }
  
  function saveStyle(){
    console.log("Saving Style");
    var theiframe=$('#previewiframe');
    
    var data=theiframe.contents().find('html').html();
  
    $.post(window.location.origin+"/scheduleformatter/",{data:data},function(response){
      var thetoken=response;
      var newwindow=window.open("/scheduleformatter/?token="+thetoken+"&dtype=completeschedule","Submit Theme",'width=400,height=200,toolbar=yes,location=yes,directories=yes,status=yes,menubar=yes,scrollbars=yes,copyhistory=yes,resizable=yes');

    })
    
  }
  
  function makearray(length){
    var thearray=new Array();
    var i=0;
    while(i<length){
      thearray.push("");
      i=i+1;
    }
    return thearray;
  }
  
  function formatschedule(){
    
    var studentname=data.studentname;
    var coursearray=data.coursearray;
    
    var byday={
      MON:makearray(10),
      TUE:makearray(10),
      WED:makearray(10),
      THUR:makearray(10),
      FRI:makearray(10),
    }
    
    var ci=0;
    while(ci<coursearray.length){
      var course=coursearray[ci];
      var si=0;
      while(si<course.schedule.length){
	var schedule=course.schedule[si];
	var start=schedule.start;
	var end=schedule.end;
	var duration=end-start;
	byday[schedule.day][start-8]={
	  course:course,
	  duration:duration,
	  venue:course.schedule[si].venue,
	  }
	var i=1;
	while(i<duration){
	  byday[schedule.day][start-8+i]="none";
	  i=i+1;
	}
	si=si+1;
      }
      
      ci=ci+1;
    }
    
    function getScheduleText(course){
	if(course==""){
	  return {text:""};
	}else{
	  return {text:course.name};
	}
    }
    
    function formatschedule(){
      var thereturn=new Array();
      for(key in byday){
	thereturn.push(
	{
	  day:key,
	  ischedule:getScheduleText(byday[key]),
	}
	);
      }
      return thereturn;
    }
    
    thedata={
      studentname:studentname,
      schedule:byday,
      courselist:coursearray,
    }
    
    currenttemplate=$("#scheduletemplate").html();
    
    rerender($("#defaultstyle").html());
    
    themegallery();
  }
  
</script>