<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
<title>Automatic IIUM Schedule Formatter!</title>
<link type="text/css" href="/static/global.css" rel="stylesheet"/>
<link type="text/css" href="/static/customize.css" rel="stylesheet"/>
</head>

<body>
<div id='body'>
<table id='mainlayout'>
<tr><td colspan=2 id='topdiv'>
<div>
  <table id='tabmenulist'><tr>
    <td><h3>AIIUMSF</h3></td>
    <td><a href='javascript:themegallery();'>Theme Gallery</a></td>
    <td><a href='javascript:stylercsspage();'>Styler</a></td>
    <td><a href='javascript:manualcsspage();' >Edit CSS</a></td>
    <td><a href='javascript:changetemplatepage();' >Edit Template</a></td>
    <td style='width:auto;'></td>
    <td id='savebutton'><a href='javascript:saveStyle();'>Save</a></td>
  </tr></table>
</div>
</td></tr>
<tr id='secondrow'><td id='configiframecontainer'>
<iframe id='configiframe' src='about:blank'>
</iframe></td>
<td id='previewiframecontainer'>
<iframe id='previewiframe' src="/static/dummy.html">
</iframe>
</td></tr>
</table>
</div>
</body>

<script id='defaultstyle' type='text/css'>
/* "body"="Body" */
/* "#title"="Title" */
/* "#scheduletable"="Schedule Table" */
/* "#scheduletable .timecell"="Time table header" */
/* "#scheduletable .firstcolumn"="First Column" */
/* "#scheduletable tr th"="Table Header" */
/* "#scheduletable tr td.nonempty"="Non empty Table Cell" */
/* "#scheduletable tr td.nonempty .code"="Code" */
/* "#scheduletable tr td.nonempty .venue"="Venue" */
/* "#scheduletable tr td.empty"="Empty Table Cell" */
/* "#scheduletable tr td"="Table Data" */


  .preview_container{
	outline:black dotted 1px;
  }

  table{
    border-collapse:collapse;
    border:2px solid black;
  }
  tr th{
    border-bottom:2px solid black;
  }
  tr td{
    border-bottom:1px solid black;
  }
</script>
<script type='text/javascript' src='/static/js/jquery-1.7.1.min.js' ></script>
<script type='text/javascript' src='/static/ejs_production.js' ></script>
<script id="scheduletemplate" type="text/html">
  <head>
  <style id='thestyle'></style>
  </head>
  <body>
  <div id='maindiv'>
  <h2 id="title"> <%= studentname %> SCHEDULE</h2>
  <table id='scheduletable'>
    <tr>
      <th class='day firstcolumn'>Day</th>
      <th class='timecell'>8 am</th>
      <th class='timecell'>9 am</th>
      <th class='timecell'>10 am</th>
      <th class='timecell'>11 am</th>
      <th class='timecell'>12 am</th>
      <th class='timecell'>1 pm</th>
      <th class='timecell'>2 pm</th>
      <th class='timecell'>3 pm</th>
      <th class='timecell'>4 pm</th>
      <th class='timecell'>5 pm</th>
    </tr>
    <% for(key in schedule) {%>
    <tr>
      <td class='day firstcolumn'>
	<%= key %>
      </td>
      <% for(var i=0;i<schedule[key].length;i=i+1){ %>
	<% if(schedule[key][i].course){ %>
	  <td class='nonempty' colspan='<%= schedule[key][i].duration %>'>
	      <div class='code'>
	      <%= schedule[key][i].course.code %>
	      </div>
	      <div class='venue'>
	      <%= schedule[key][i].venue %>
	      </div>
	  </td>
	<% }else if(schedule[key][i]=="none"){ %>
	<% }else{ %>
	  <td class='empty'>
	      <%= schedule[key][i]%>
	  </td>
	<% } %>
      <% } %>
    </tr>
    <% } %>
  </table>
  <h3>Subject Name</h3>
  <table>
    <tr>
      <th>Code</th>
      <th>Section</th>
      <th>Credit Hour</th>
      <th>Name</th>
    </tr>
    <% for(var i=0;i<courselist.length;i=i+1){ %>
      <tr>
      <td>
      <%= courselist[i].code %>
      </td>
      <td>
      <%= courselist[i].section %>
      </td>
      <td>
      <%= courselist[i].credithour %>
      </td>
      <td>
      <%= courselist[i].title %>
      </td>
      </tr>
    <% }%>
  </table>
  </div>
  </body>
</script>
<script type='text/javascript' src='/static/customizer.js' ></script>