html,body{
  margin:0;
  padding:0;
}
body{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
#tabmenulist{
  position:relative;
  z-index:10;
  border-collapse:collapse;
  background-image:url("/static/backtexture.jpg");
  width:100%;
  height:40px;
  box-shadow:0 2px 2px 0 grey;
}
#main-split-pane{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top: 40px;
  height: auto;
}
#previewiframe{
  height:99%;
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
#split-divider{
  left:30%;
  width:5px;
  background-color:#f0f0f0;
}
#left-pane{
  min-width:300px;
  width:30%;
}
#right-pane{
  left:30%;
  min-width:300px;
}

#tabmenulist td{
  display:inline-block;
  font-weight:bold;
  font-size:20px;
  text-shadow:1px 1px 4px #444;
  float:left;
  text-align:center;
  vertical-align:middle;
  padding:0 1ex;
  padding-top:7px;
  padding-bottom:8px;
}

#tabmenulist td.title{
  padding-top:7px;
}

#tabmenulist td.selected{
  background-color:rgba(50,50,50,0.5);
}

#tabmenulist td:hover{
  background-color:rgba(50,50,50,0.5);
}

#tabmenulist td.title:hover{
  background:transparent;
}

#tabmenulist td a{
  color:white;
  text-decoration:none;
  display:block;
}

#tabmenulist h3{
  margin: 0 1em;
  text-shadow:0 0 3px grey;
}

#tabmenulist #savebutton{
  display:block;
  float:right;
  width:150px;
  background-color:rgba(50,50,50,0.3);
}
#tabmenulist #savebutton:hover{
  background-color:rgba(200,50,50,0.7);
}

#configpane{
  padding:10px;
  position:absolute;
  bottom:0;
  top:0;
  right:0;
  left:0;
}

#configpane>div{
  height:100%;
}

#configpane textarea.content {
  width:100%;
  height:100%;
}

#configpane table tr:nth-child(1) td{
  padding:0px 0 5px;
}

#configpane table tr:nth-child(1) td p{
  margin:3px 0;
}

#configpane .theme-list > div{
  float:left;
}

#configpane .theme-item{
  width:205px;
  float:left;
  margin:0 10px 10px 0;
}
