<!DOCTYPE html>
  <head>
  <style id='thestyle'>
  <%= style %>
  </style>
  </head>
  <body>
  <div id='maindiv'>
  <h2 id="title"> <%= studentname.toTitleCase() %>'s Schedule</h2>
  <div id='detailtablecont'>
  <% if(settings.showpersonalinfo){ %>
  <table id='detailtable'>
    <tr>
      <td class='firstcolumn'>
      <span id='desc-name'>Name = <%= studentname.toTitleCase() %><br /></span>
      <span id='desc-matric'>Matric Number = <%= matricnumber %><br /></span>
      <span id='desc-ic'>IC Number = <%= ic %><br /></span>
      </td><td class='secondcolumn'>
      <span id='desc-session'>Session = <%= session %><br /></span>
      <span id='desc-semester'>Semester = <%= semester %><br /></span>
      <span id='desc-program'>Program = <%= program %><br /></span>
      </td>
    </tr>
  </table>
  <% } %>
  </div>
  <br />
  <div id='scheduletablecont'>
  <table id='scheduletable'>
    <tr>
      <td class='timecell'>Day</td>
      <% 
        for(var i=0;i<(actualendhour-actualstarthour);i++){
      %>
      <td class='timecell' colspan='12'><% 
      var thetime=i+actualstarthour; 
      var dtime=thetime;
      if(thetime>12){
          dtime=(dtime-12).toString()+" pm";
      }else if(thetime==12){
          dtime=dtime.toString()+" pm";
      }else{
          dtime=dtime.toString()+" am";
      }
      %><%= dtime %></td>
      <% } %>
    </tr>
    <% for(key in byfiveminute) {
        if(settings.show_day[key]==false)continue;
        %>
    <tr>
      <td class='day firstcolumn'>
    <% if(settings.showfulldayname){ %>
	<%= day_name[key] %>
    <% }else{ %>
	<%= key.toLowerCase() %>
    <% } %>
      </td>
      <% for(var i=0;i<byfiveminute[key].length;i=i+1){ %>
	<% if(byfiveminute[key][i].course){ %>
	  <td class='nonempty' colspan='<%= byfiveminute[key][i].duration %>'>
	      <div class='code'>
	      <%= byfiveminute[key][i].course.code %>
	      </div>
	      <div class='venue'>
	      <%= byfiveminute[key][i].venue %>
	      </div>
	  </td>
	<% }else if(byfiveminute[key][i]=="none"){ %>
	<% }else{ 
        var howmuch=1;
        var ci=i+1;
        while(ci<byfiveminute[key].length){
            if(byfiveminute[key][ci]!=""){
                break;
            }else{
                howmuch+=1;
            }
            ci=ci+1;
        }
        %>
	  <td class='empty' colspan='<%= howmuch %>'>
	      <%= byfiveminute[key][i]%>
	  </td>
	<% i=i+howmuch-1} %>
      <% } %>
    </tr>
    <% } %>
    <% if(settings.fixminutealign){ %>
    <tr class='fixminutealign'>
      <td></td>
      <% for(var i=0; i<actualendhour-actualstarthour;i=i+1){ %>
      <td class='align'></td>
      <td class='align'></td>
      <td class='align'></td>
      <td class='align'></td>
      <td class='align'></td>
      <td class='align'></td>
      <td class='align'></td>
      <td class='align'></td>
      <td class='align'></td>
      <td class='align'></td>
      <td class='align'></td>
      <td class='align'></td>
      <% } %>
    </tr>
    <% } %>
  </table>
  </div>
    
  <% if(settings.showcoursetable){ %>
  <div id="coursetablediv">
  <h3>Courses</h3>
  <div id="coursetablecont">
  <table id='coursetable'>
    <tr>
      <td class='header'>Code</td>
      <td class='header'>Section</td>
      <td class='header'>Credit Hour</td>
      <td class='header'>Name</td>
    </tr>
    <% for(var i=0;i<courselist.length;i=i+1){ %>
      <tr>
      <td class='code'>
      <%= courselist[i].code %>
      </td>
      <td class='section'>
      <%= courselist[i].section %>
      </td>
      <td class='credithour'>
      <%= courselist[i].credithour %>
      </td>
      <td class='name'>
      <%= courselist[i].title.toTitleCase() %>
      </td>
      </tr>
    <% }%>
  </table>
  </div>
  </div>
  <% } %>
  <span style='font-size:50%;float:right;margin-top:1ex;'>Generated at http://iiumschedule.asdacap.com </span>
  </div>
  </body>
