input.minmax {
	width: 8%;
	max-width:4ex;
	border: 0;
	display: inline-block;
	background: none;
	margin:0;
	text-align:right;
}

input.maxunit {
	text-align:left;
}

input.sliderpreval{
	width:6em;
}

.cssslider {
	min-width: 80%;
	max-width: 95%;
	display: inline-block;
	margin:0 1ex;
}

.styler_control{
}
.styler_group{
	display:inline-block;
	width:99%;
    padding:1ex;
    box-sizing:border-box;
}
.styler_group h3{
	margin:0;
}

.css_control_group {
}

input.colorinput{
    width:8em;
    border:1px solid grey;
    padding:1ex;
}

.palettetab .colorbox{
    display:inline-block;
    width:20px;
    height:20px;
    outline:1px solid grey;
}

.palettetab input{
    margin-right:1ex;
}

.palettetab .palettethemeitem .name{
    vertical-align:super;
    margin:2px;
    margin-left:5px;
}
.palettetab .palettethemeitem:hover{
    text-decoration:underline;
    cursor:pointer;
}

div.mainloading{
    text-align:center;
    width:100%;
    height:100%;
    font-family:Arial;
    font-size:200%;
}

.stylercolortab{
    background-image:url("/static/colorpicker/colortabback.png");
    background-size:100% 100%;
}
