{% extends 'adminbase.html' %}
{% block content %}
<h1>Admin Interface</h1>
<a target="_blank" href="/admin/logout/">Logout</a>
<h2>Tasks</h2>
<ul>
    <li><a target="_blank" href="/admin/error_report/">Error Reports</a></li>
    <li><a target="_blank" href="/admin/theme/">Themes</a></li>
    <li><a target="_blank" href="/cleanschedule">Clean Schedule</a></li>
</ul>
<h2>Dangerous Stuff</h2>
<ul>
    <li><a target="_blank" href="/admin/upload_section_data/">Upload Section Data</a></li>
    <li><a target="_blank" href="/admin/create_db/">Create DB</a></li>
    <li><a target="_blank" href="/admin/reset_db/">Reset DB</a></li>
</ul>
{% endblock %}
