<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  {% block header %}
  {% endblock %}
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21243240-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('http:' == document.location.protocol ? 'http://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css"></link>
  <script src="/static/js/jquery-1.9.1.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/mainpage.css"></link>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
	appId      : '207943475977546', // App ID
	channelUrl : 'http://iiumschedule.asdacap.com/static/fbchannel.html',
	status     : true, // check login status
	cookie     : true, // enable cookies to allow the server to access the session
	xfbml      : true  // parse XFBML
      });

      // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
    }(document));
  </script>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top top_menu" role="navigation">
      <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">IIUMSchedule</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li {% if active_page=="formatter" %}class="active"{% endif %}><a href="/">Schedule Formatter</a></li>
                  <li {% if active_page=="maker" %}class="active"{% endif %}><a href="/maker">Schedule Maker</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <div class='container mainwrap'>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
