<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
<title>Automatic IIUM Schedule Formatter!</title>
<link type="text/css" href="/static/global.css" rel="stylesheet"/>
<link type="text/css" href="/static/customize.css" rel="stylesheet"/>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21243240-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('http:' == document.location.protocol ? 'http://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<table id='tabmenulist'><tr>
<td class="title"><h3>AIIUMSF</h3></td>
<td class="selected"><a href='javascript:themegallery();'>Theme Gallery</a></td>
<td><a href='javascript:settingspage();'>Settings</a></td>
<td><a href='javascript:stylercsspage();'>Styler</a></td>
<td><a href='javascript:manualcsspage();' >Edit CSS</a></td>
<td><a href='javascript:changetemplatepage();' >Edit Template</a></td>
<td id='savebutton'><a target='_blank' href='javascript:saveStyle();' title='Save temporarily in another page. You should save that page in your computer.' target='_blank'>Save</a></td>
</tr></table>
<iframe id='previewiframe' src="/static/dummy.html" ></iframe>
<iframe id='configiframe' src="/static/loading.html" ></iframe>
<button id='expandbutton' onclick="togglealternate();">Expand</button>
</body>
<script id="scheduletemplate" type="text/html" src='/static/default.html'>
</script>

<script type='text/javascript' src='/static/js/jquery-1.7.2.min.js' ></script>
<script type='text/javascript' src='/static/js/ejs_production.js' ></script>
<script type='text/javascript' src='/static/js/to-title-case.js' ></script>
<script type='text/javascript' src='/static/js/customizer.js' ></script>
