<!DOCTYPE html>
<head>
<title>Automatic IIUM Schedule Formatter!</title>
<link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet"/>
<link type="text/css" href="/static/global.css" rel="stylesheet"/>

<!-- Styler specific settings -->
<link type="text/css" href="/static/css/styler.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/styler-grey/jquery-ui-1.10.1.custom.css" rel="stylesheet"/>
<link type="text/css" href="/static/colorpicker/colorpicker.css" rel="stylesheet"/>
<!-- End Styler specific settings -->

<link type="text/css" href="/static/css/split-pane.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/customize.css" rel="stylesheet"/>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21243240-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('http:' == document.location.protocol ? 'http://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script>
  var RECAPTCHA_PUBLIC_KEY = "{{ RECAPTCHA_PUBLIC_KEY }}";
</script>
<base href="/scheduleformatter/"/>
</head>
<body>
  <table id='tabmenulist'><tr>
      <td class="title"><h3>AIIUMSF</h3></td>
      <td class="selected"><a href='#/theme'>Theme Gallery</a></td>
      <td><a href='#/setting'>Settings</a></td>
      <td><a href='#/styler'>Styler</a></td>
      <td><a href='#/css' >Edit CSS</a></td>
      <td><a href='#/template' >Edit Template</a></td>
      <td id='savebutton'><a target='_blank' href='javascript:saveStyle();' title='Save temporarily in another page. You should save that page in your computer.' target='_blank'>Save</a></td>
  </tr></table>

  <div class="split-pane fixed-left" id="main-split-pane">
    <div class="split-pane-component" id="left-pane">
      <div id="configpane"></div>
    </div>
    <div class="split-pane-divider" id="split-divider"></div>
    <div class="split-pane-component" id="right-pane"">
      <iframe id='previewiframe' src="about:blank" ></iframe>
    </div>
  </div>

</body>
<script id="scheduletemplate" type="text/html" src='/static/default.html'>
</script>

<script id="edittemplate_template" type="text/html">
  <table style='height:100%;width:100%;'>
    <tr><td>
        <div class="btn btn-default btn-sm save_button pull-right">Save</div>
        <p>Edit the EJS template below and click save when you are done.</p>
    </td></tr>
    <tr style='height:100%;'><td>
        <textarea class="content" style='width:100%;height:100%;'><%= get("template") %></textarea>
    </td></tr>
  </table>
</script>

<script id="styler_view" type="text/html">
  <div style="text-align:right;margin-bottom:5px;">
    <div class="btn btn-default btn-sm reset-button">Reset</div>
    <div class="btn btn-default btn-sm save-button">Save</div>
  </div>
  <div class="clearfix"></div>
  <div id="mainbody">
  </div>
</script>

<script id="theme_view" type="text/html">
  <div class="thumbnail theme-item">
    <img src='//free.pagepeeker.com/v2/thumbs.php?size=m&url=http%3A%2F%2Fiiumschedule.asdacap.com%2Fscreenshot%3Fthemename%3D<%= encodeURIComponent(attributes.name) %>'></img>
    <div class="caption">
      <h3><%= attributes.name %></h3>
      <p> by <%= attributes.submitter %></p>
    </div>
  </div>
</script>

<script id="themelist_view" type="text/html">
  <h2>Choose a theme</h2>
  <div class="theme-list">
    <% collection.each(function(model){ %>
      <div data-model="<%= model.cid %>"></div>
    <% }) %>
  </div>
  <div style='clear:both;' />
  <p>Please contribute to the community of IIUM by <a href="#/submit_theme">submitting</a> your own design</p>
  <a href='http://pagepeeker.com/' target='_blank'>Thumbshots by PagePeeker</a></p>
</script>

<script id="editstyle_template" type="text/html">
  <table style='height:100%;width:100%;'>
    <tr><td>
        <div class="btn btn-default btn-sm save_button pull-right">Save</div>
        <p>Edit the CSS below and click save when you are done.</p>
    </td></tr>
    <tr style='height:100%;'><td>
        <textarea class="content" style='width:100%;height:100%;'><%= get("style") %></textarea>
    </td></tr>
  </table>
</script>

<script id="submit_theme" type="text/html">
<h1>Submit Your Theme</h1>
<table>
  <tr><td class='labels'>
      <label for='name'>Theme name:</label></td><td class='inputs'><input type='text' name='name' value='{{name}}'></input>
  </td></tr>
  <tr><td class='labels'>
      <label for='submitter'>Your name:</label></td><td class='inputs'><input type='text' name='submitter' value='{{submitter}}'></input>
  </td></tr>
  <tr><td class='labels'>
      <label for='email'>email:</label></td><td class='inputs'><input type='text' name='email' value='{{email}}'></input>
  </td></tr>
  <tr>
    <td>
      <div id="recaptcha_div"></div>
      <input type="hidden" name="recaptcha_response_field" value="">
      <input type="hidden" name="recaptcha_challange_field" value="">
    </td>
  </tr>
</table> 
<textarea name='rendered' style='display:none;'>{{rendered}}</textarea>
<a class="btn btn-primary submit">Submit</a>
</script>

<script id="setting_template" type="text/html">
  <h2>Settings</h2>
    <span class="heading">Display:</span><br />
    Show personal info : <input type="checkbox" name="showpersonalinfo" /><br />
    Show course table : <input type="checkbox" name="showcoursetable" /><br />
    Show day in full instead of partial : <input type="checkbox" name="showfulldayname" /><br />
    <br />
    <span class="heading">Show Days:</span>
    <table>
        <tr><td>Monday:</td><td><input type="checkbox" name="show_day.MON"/></td></tr>
        <tr><td>Tuesday:</td><td><input type="checkbox" name="show_day.TUE"/></td></tr>
        <tr><td>Wednesday:</td><td><input type="checkbox" name="show_day.WED"/></td></tr>
        <tr><td>Thursday:</td><td><input type="checkbox" name="show_day.THUR"/></td></tr>
        <tr><td>Friday:</td><td><input type="checkbox" name="show_day.FRI"/></td></tr>
        <tr><td>Saturday:</td><td><input type="checkbox" name="show_day.SAT"/></td></tr>
        <tr><td>Sunday:</td><td><input type="checkbox" name="show_day.SUN"/></td></tr>
    </table>
    <br />
    <span class="heading">Course Table:</span>
    <table>
        <tr><td>Code:</td><td><input type="checkbox" name="coursetable.code"/></td></tr>
        <tr><td>Section:</td><td><input type="checkbox" name="coursetable.section"/></td></tr>
        <tr><td>Credit Hour:</td><td><input type="checkbox" name="coursetable.credit"/></td></tr>
        <tr><td>Name:</td><td><input type="checkbox" name="coursetable.name"/></td></tr>
        <tr><td>Lecturer:</td><td><input type="checkbox" name="coursetable.lecturer"/></td></tr>
    </table>
    <br />
    <span class="heading">Tweaks</span><br />
    Fix minute align:<input type="checkbox" name="fixminutealign"/><br />
    Minute alignment may not be correct. Fortunately there are way to fix it. Unfortunately there are side effect in which some style cannot be applied correctly.
</script>

<script type="text/javascript" src="/static/js/jquery-1.9.1.js"></script>
<script type='text/javascript' src='/static/js/underscore-min.js' ></script>
<script type='text/javascript' src='/static/js/backbone.js' ></script>
<script type='text/javascript' src='/static/js/ejs_production.js' ></script>
<script type='text/javascript' src='/static/js/to-title-case.js' ></script>
<script type='text/javascript' src='/static/js/split-pane.js' ></script>
<script type='text/javascript' src='/static/js/customizer-styler.js' ></script>
<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.10.1.custom.min.js"></script>
<script type="text/javascript" src="/static/js/styler.js"></script>
<script type='text/javascript' src='/static/js/customizer.js' ></script>
