<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21243240-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('http:' == document.location.protocol ? 'http://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <link type="text/css" href="/static/global.css" rel="stylesheet"/>
  <style>
  .labels{
    width:10em;
  }
  
  .inputs{
    width:60em;
  }
  
  .inputs textarea{
    width:100%;
    height:15em;
  }
  
  .inputs input{
    width:100%;
  }
  #midbody{
    width:60em;
    margin-left:auto;
    margin-right:auto;
  }
  </style>
  <script type='text/javascript' src='/static/js/jquery-1.7.2.min.js' ></script>
</head>
<body>
<div id='midbody'>
<h1>Submit Your Theme</h1>
<form method="POST" action="/themegallery/">
  <p>{{message}}</p>
  <table>
  <tr><td class='labels'>
  <label for='name'>Theme name:</label></td><td class='inputs'><input type='text' name='name' value='{{name}}'></input>
  </td></tr>
  <tr><td class='labels'>
  <label for='submitter'>Your name:</label></td><td class='inputs'><input type='text' name='submitter' value='{{submitter}}'></input>
  </td></tr>
  <tr><td class='labels'>
  <label for='email'>email:</label></td><td class='inputs'><input type='text' name='email' value='{{email}}'></input>
  </td></tr>
  <tr><td class='labels'>
  <label for='style'>data:</label></td><td class='inputs'><textarea name='data'>{{data}}</textarea>
  </td></tr>
  
  <td></td><td>
  <script type="text/javascript"
     src="http://www.google.com/recaptcha/api/challenge?k=6LeLrMwSAAAAAG6IPJtnDRz3E4GtvytZqGXncyzB">
  </script>
  <noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LeLrMwSAAAAAG6IPJtnDRz3E4GtvytZqGXncyzB"
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field"
         value="manual_challenge">
  </noscript>
  </td>
  
  </table> 
  <textarea name='rendered' style='display:none;'>{{rendered}}</textarea>
  <input name='submit' type='submit' value='submit'></input>
</form>
</div>
</body>
